

.header {
    background: #f3f3f3;
    position: absolute;
    width: 100%;
    left: 0px;
    top:0px;
}

.header__name {
    position: absolute;
    width: 166px;
    height: 47px;
    vertical-align: center;
    left: 147px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
}

.header__menu {
    display: flex;
    margin-left: 250px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

.header__menu li {
    padding: 5px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-left: 25px;

}

.main__title {
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0px;
    top: 82px;
    background-image:  url(imgs/main__img.png);
    background:  #5E239D;
    mix-blend-mode: multiply;
}

.main__text {
    position: absolute;
    width: 754px;
    height: 90px;
    left: 147px;
    top: 25px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
    color: #F61067;
}

.main__heading {
    position: absolute;
    width: 363px;
    height: 54px;
    left: 146px;
    top: 150px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #F4F4ED;
}

.main__about {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 444px;
    background: #f3f3f3;
}

.about__heading {
    position: absolute;
    width: 304px;
    height: 35px;
    left: 147px;
    top: 109px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
}

.about__text {
    position: absolute;
    width: 754px;
    height: 126px;
    left: 147px;
    top: 162px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
}

.sub__about {
    display: flex;
}

.sub__subtitle {
    position: absolute;
    width: 304px;
    height: 24px;
    left: 147px;
    top: 360px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #30233D;
}

.about__subtext {
    position: absolute;
    width: 460px;
    height: 115px;
    left: 147px;
    top: 396px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #776C82;
}

.sub__subtitle--2 {
    position: absolute;
    width: 304px;
    height: 24px;
    left: 735px;
    top: 360px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #30233D;
}

.about__subtext--2 {
    position: absolute;
    width: 460px;
    height: 115px;
    left: 735px;
    top: 396px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #776C82;
}

.main__we-do {
    display: flex;
}


.we-do__retangle {
    position: absolute;
    width: 100%;
    height: 324px;
    left: 0px;
    top: 1100px;
    background: #150433;
}

.we-do__heading {
    position: absolute;
    width: 304px;
    height: 24px;
    left: 147px;
    top: 108px;    
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;   
    color: #FCFCFC;
}

.we-do__subheading{
    position: absolute;
    width: 322px;
    height: 67px;
    left: 147px;
    top: 110px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    color: #FCFCFC;
}

.we-do__img {
    position: absolute;
    width: 411px;
    height: 810px;
    left: 77%;
    top: 1332px; 
    background-image: url(/imgs/we-do__img.png);   
    background: linear-gradient(0deg, #F61067, #F61067);
    background-blend-mode: multiply, normal, normal;
    z-index: 1; 
}

.we-do__square {
    position: absolute;
    width: 90%;
    height: 954px;
    left: 0px;
    top: 1424px;   
    background: #30124E;
}

.we-do__subtitle{
    position: absolute;
    width: 264px;
    height: 90px;
    left: 147px;
    top: 180px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    align-items: center;    
    color: #FCFCFC;
}

.we-do__text {
    position: absolute;
    width: 362px;
    height: 93px;
    left: 539px;
    top: 220px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
}

.we-do__subtitle--2{
    position: absolute;
    width: 264px;
    height: 90px;
    left: 147px;
    top: 360px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    align-items: center;    
    color: #FCFCFC;
}

.we-do__text--2 {
    position: absolute;
    width: 362px;
    height: 93px;
    left: 539px;
    top: 400px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
}

.we-do__subtitle--3{
    position: absolute;
    width: 264px;
    height: 90px;
    left: 147px;
    top: 630px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    align-items: center;    
    color: #FCFCFC;
}

.we-do__text--3 {
    position: absolute;
    width: 362px;
    height: 93px;
    left: 539px;
    top: 670px;
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
}

